
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Breezy</a>
    </div>
    <div class="nav navbar-nav navbar-right navbar-form">
        <a href="#/dashboard" class="button">dashboard</a>
        <a class="button">Log Out</a>
    </div>
  </div>
</nav>


  <!-- Container -->
<button class="savePath" ng-click="savePath()">Save path</button>
<input type="text" ng-model="title" placeholder="Title here . . ."/> <h3>{{title}}</h3>
<div class="row"></div>
<button class="undo" ng-click="undoLast()">Undo Last</button>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
