
hr {
  margin-top: 0;
}

#create{
  border: 1px solid #E1E1E1;
  height: 500px;
}

#create a {
  margin-top: 45%

}

#login {
  position: absolute;
  right: 30px;
  top: 60px;
}

nav .button {
  border: none;
}

nav .button:hover {
  border-radius: 0;
  background-color: #C0C0C0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#signup {
  width: 80%;
  margin: 30px;
  padding: 30px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/*==========================*/

    /* Dashboard Template */

/*==========================*/

#dashboard-title {
  background-color: #33C3F0;
  color: white;
  border-radius: 5px;
}

#dashboard-title h3 {
  margin-top: 2%;
  margin-left:2.5%;
}

.maps {
  height: 400px;
  margin-top:2.5%;
  text-align: center;
}


.mapDisplay {
  height:100%;
}

.button {
  border-width: 1px;
  border-radius: 5px;
}

#control {
  margin: 5px;
}

/*==========================*/

    /* Main */

/*==========================*/

#intro{
  background-color: #1EAEDB;
  color: white;
  border-radius: 10px;
}

#intro h5 {
  margin-top: 2%;
  margin-left: 2%;
}

#intro-map {
  margin-top: 3%;
  margin-left: 0.5%;
  padding-bottom: 1%;
}

#banner {
  height:300px;
  background-size: auto 80%;
 font: bold;
}

#banner img {
  height:300px;
}

#intro-text {
  height:300px;
  border: 1px solid #E1E1E1;;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
#mainContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#banner-container {
  color: gray;
  text-decoration: none;
  text-align: center;
}


#create-main {
  text-align: center;
  margin-top: 2%;
  padding: 10px 0;
  border: 1px solid #E1E1E1;
  background-color: #1EAEDB;
  border-radius: 10px;
}

#create-main a {
  margin-bottom: 10%;
  color: white;
}

.whitespace {
  margin-bottom: 25px;
}

#hr {
  text-align: center;
}

.mainImages {
  margin: 15px 0;
}

.maps h5 {
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

