
html, body {
  height: 100%; margin: 0; padding: 0;
}

#map {
  height: 100%;
}

#searchAddress {
  margin: 5px;
}

#signup { 
  width: 80%;
  margin: 30px;
  padding: 30px;
}

hr {
  margin-top: 0;
}

#create{
  border: 1px solid #E1E1E1;
  height: 500px;
}

#create a {
  margin-top: 45%

}
