<!-- <div ng-contoller="MainController" class="container">

</div> -->
<html>
  <head>
  <link rel="stylesheet" href="../../styles/styles.css" />
  </head>

  <body>

    <nav class="navbar" ng-controller="AuthController">

    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Breezy</a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-form">
        <li><button class="button" ng-click="dashboard()">Dashboard</button></li>
        <li><button class="button" ng-click="reroute()">Sign Up</button></li>
        <li><button class="button" ng-click="toggle()">Log In</button></li>
        <ul>
      </div>
        <div ng-show="show">
          <form id="login" ng-submit='signin()'>
            <div class="row">
              <input type="text" placeholder="username" ng-model="user.username">
            </div>
            <div class="row">
              <input type="password" placeholder="password" ng-model="user.password">
            </div>
            <div class="row">
              <button type='submit' value="submit">Log In</button>
            </div>
          </form>
        </div>
    </nav>


    <script src="./main.js"></script>


  </body>
</html>
