<!-- <div ng-contoller="MainController" class="container">

</div> -->
<html>
  <head>
  <link rel="stylesheet" href="../../styles/styles.css" />
  </head>

  <body>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">

    <form id="searchAddress">
      <input id="searchTextField" type="text" size="50" placeholder="enter an address">

    <nav class="navbar" ng-controller="MainController">

    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Breezy</a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-form">
        <li><button class="button" ng-click='signup()'>Sign Up</button></li>
        <li><button class="button" ng-click="toggle()">Log In</button></li>
        <ul>
      </div>
        <div ng-show="show">
          <form id="searchAddress" ng-submit='signin()'>
            <input type="text" placeholder="username" ng-model="user.username">
            <input type="password" placeholder="password" ng-model="user.password">
            <button type='submit' value="submit">Log In</button>
          </form>
        </div>
    </nav>
   
    <form id="searchAddress">
      <input type="text" placeholder="enter an address">
      <input type='submit' value="Search"></input>
    </form>

    <button id="path">draw path</button>
    <button id="note">add note</button>

    <!-- Our Google API key is: "AIzaSyApsqX2jobyCW-4g_nVAUdDlBwB88nQBqo"
      Right now there is no limit on which IP can use our key.  Later when we set up our server, we should limit only IP addresses from our server to use the key.  (There is a limit of 25,000 visits/day before we either have to pay or they will not let us use it anymore.)
    -->
    <div id="map"></div>

    <!--  Without Google Signin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApsqX2jobyCW-4g_nVAUdDlBwB88nQBqo&libraries=places&callback=initAutocomplete"
         async defer></script>
    <script src="./main.js"></script>


  </body>
</html>
