<!-- <div ng-contoller="MainController" class="container">

</div> -->
<html>
  <head>
  <link rel="stylesheet" href="../../styles/styles.css" />
  </head>

  <body>

    <nav class="navbar" ng-controller="AuthController">

    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Breezy</a>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-form">
        <li><button class="button" ng-click="dashboard()">Dashboard</button></li>
        <li><button class="button" ng-click="reroute()">Sign Up</button></li>
        <li><button class="button" ng-click="toggle()">Log In</button></li>
        <ul>
      </div>
        <div ng-show="show">
          <form id="login" ng-submit='signin()'>
            <div class="row">
              <input type="text" placeholder="username" ng-model="user.username">
            </div>
            <div class="row">
              <input type="password" placeholder="password" ng-model="user.password">
            </div>
            <div class="row">
              <button type='submit' value="submit">Log In</button>
            </div>
          </form>
        </div>
    </nav>
    <div class="container" id="intro">
      <h5>Welcome to Breezy Pickles</h5>
    </div>
    <div class="container">
      <div class="row" id="intro-map">
        <div class="four columns" id="intro-text">
          <p>This is the place to create and store all your routes.  Whether it is a hike on the Appalachian Trail, or a city stroll through the glamours of Paris.  We give you the tools to snapshot your life in those moments</p>
        </div>
        <div id="banner-container" class="eight columns">

          <div id="banner">
            <img src="../assets/san-fran.png" alt="">
          </div>
          </div>
      </div>
      <div class="row" id="create-main">
        <a href="#/create" class="u-full-width">Create Your Path</a>
      </div>

    </div>

    <div class="container">
      <div id="mainContainer">
        <div class="row mainImages">
          <span><img src="../../assets/search.png" height="auto" width="45%"></span>
          <span><img src="../../assets/polyLine.png" height="auto" width="45%"></span>
        </div>

        <div>
          <h6>Enter and address in the address bar and the map will center on your input address.  Create custom routes and save to your profile. </h6>
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="container" id="hr">
      Made with <span class="glyphicon glyphicon-heart"></span> at Hack Reactor
    <div>

    <div class="whitespace"></div>



    <script src="./main.js"></script>


  </body>
</html>
