<!-- Navigation Bar -->

<nav class="navbar">

  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
        Breezy
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-form">
      <li><button class="button" ng-click='signout()'>Log Out</button></li>
  </div>
</nav>

<!-- Past Maps Table && Create New Map -->
<div ng-controller="DashboardController">
  <div class="container">
    <div id="{{$index}}" ng-repeat="path in paths" ng-click="populate($index)">{{$index}}</div>
  </div>

</div>
