<!-- Navigation Bar -->

<nav class="navbar">

  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
        Breezy
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-form">
      <li><button class="button" ng-click='signout()'>Log Out</button></li>
  </div>
</nav>

<!-- Past Maps Table && Create New Map -->
<div ng-controller="DashboardController">
  <div class="container">
    <div class="container maps" ng-repeat="map in maps">
      <p ng-click="populate($index)">{{map.identifiers.title}}</p>
      <div id="{{$index}}" class="mapDisplay"></div>
    </div>
  </div>

</div>
